<section id="achievements" class="bg-dark" name="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Achievements</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fas fa-trophy wow bounceIn text-primary"></i>
                    <h3>MSc in Computer Games Technology</h3>
                    <p class="text-muted">
                        Unlocked in 2020, at Abertay University in Dundee, Scotland. This institution has been ranked as
                        <a href="https://www.abertay.ac.uk/news/2020/abertay-ranked-best-in-europe-for-videogames-degrees/">
                            the best university for video game related degrees in Europe
                        </a>
                        . I know, weird flex.
                    </p>
                    <p class="text-muted"> 
                        The core modules I've studied are Applied Mathematics and Artificial Intelligence, Game Design and Development, 
                        Advanced Procedural Methods and Network Game Development. 
                        I've graduated with a thesis on "Using Generative Adversarial Networks for Content Generation in Games", with the support of Microsoft.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fas fa-trophy wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>BSc in Computer Science</h3>
                    <p class="text-muted">
                        Unlocked in 2018, at Sapienza University of Rome, in Italy, after three fantastic years. The future has passed here.
                    </p>
                    <p class="text-muted"> 
                        The core modules I've studied in this course are Fundamentals of Programming, Logic for Computer Science, Digital Electronics, 
                        Algorithms, Differential Calculus, Computer Architecture, Programming Paradigms, Operative Systems, Data Bases, Algebra, Computer Networks, 
                        Parallel and Functional Programming, Human Machine Interaction, Software Engineering and last but not least, Automata, Complexity and Calculability. 
                        I've graduated with a thesis on "QuBE - The Quiz Battle Editor: An environment for educational game development".
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fas fa-trophy wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>High School Diploma</h3>
                    <p class="text-muted">
                        Unlocked this in 2014, at the Isacco Newton High School in Rome, Italy. I'm mentioning this place 'cause I've been through 
                        Latin and Philosophy as a teenager, beside studying your classic Physics, Maths, History, Literature, Chemistry, Astronomy and History of Art. 
                        It is the place where I've learned the value of being an undecisive jack of all trades... and a good human being.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>