<div id="blog"  style="display: none; margin: 4vw;">
    <div class="container-fluid">
          <div class="col-sm-12">
            <h2>I Love Computer Science</h2>
            <h5><span class="glyphicon glyphicon-time"></span> Post by Ridam Rahman, Sep 06, 2020.</h5>
            <h5><span class="label label-danger">Blog</span> <span class="label label-primary">Text</span></h5><br>
            <p>I'm assuming you were expecting a blog post. Well, I'm still working on it. Gimme some time, there's a whole load of stuff to fix on this site, don't you think? </p>
            <br><br>
          </div>
    </div>
</div>