<div id="blog" class="blog">
    <div class="container-fluid">
          <div class="col-sm-12">
            <h2>I Love Computer Science</h2>
            <h5><span class="glyphicon glyphicon-time"></span> Post by Ridam Rahman, Sep 06, 2020.</h5>
            <h5><span class="label label-danger">Blog</span> <span class="label label-primary">Text</span></h5><br>
            <p>I'm assuming you were expecting a blog post. But instead it was me, Dio! </p>
            <img src="https://i.kym-cdn.com/entries/icons/facebook/000/015/559/It_Was_Me__Dio!.jpg" class="img-responsive" alt="">
            <br><br>
          </div>
    </div>
</div>