<header name="portfolio">
    <div class="header-content">
        <!--
        <div class="header-content-inner">
            <h1>Hello! I'm Ridam.</h1>
            <hr>
            <p>I'm a Game Developer!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
        -->
    </div>
    <div class="image-glitch">
        <div class="image-distortion" id="base"></div>
        <div class="image-distortion" id="red"></div>
        <div class="image-distortion" id="cyan"></div>
        <div class="image-distortion" id="transparent"></div>
    </div>
</header>
