<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="showPortfolio0" class="navbar-brand page-scroll" href="#page-top">Ridam Rahman</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="showPortfolio1" class="page-scroll" href="#whoami">Who am I?</a>
                    </li>
                    <li>
                        <a id="showPortfolio2" class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a id="showPortfolio3" class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a id="showCV" href="#cv">CV</a>
                    </li>
                    <li>
                        <a id="showBlog" href="#blog">Blog</a>
                    </li>
                <li>
                    <a id="showPortfolio4" class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
