<section class="no-padding" id="portfolio" name="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-3 col-sm-6">
                <button data-toggle="modal" data-target="#modalPortfolio1" class="portfolio-box" style="border-width: 0;padding: 0;">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Gamejam Project
                            </div>
                            <div class="project-name">
                                Eliptica
                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalPortfolio1" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="modalLongTitle1">Eliptica</h3>
                    </div>
                    <div class="modal-body">

                        <!-- Carousel -->
                        <div id="carousel1" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel1" data-slide-to="1"></li>
                              <li data-target="#carousel1" data-slide-to="2"></li>
                            </ol>
                          
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="img/portfolio/eliptica/01.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/eliptica/02.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/eliptica/03.jpg" alt="">
                              </div>
                            </div>
                          
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#carousel1" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel1" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>

                        <!-- Text -->
                        
                        <div class="modal-detail">
                          <h4 class="detail-label">Roles</h4>
                          <div class="detail-text">AI Programmer with 2 Artists, 3 Developers</div>
                          <h4 class="detail-label">Project Description</h4>
                          <div class="detail-text">
                            A wave-based co-op space ship combat game created
                            for the Alt Ctrl Game Jam. The players control a
                            ship moving through an asteroid field with enemies
                            spawning and attacking them.
                            <br>
                            The controls were implemented on knobs and buttons
                            with an arduino and later adapted to the keyboard
                            and mouse.
                          </div>
                          <h4 class="detail-label">Project Date</h4>
                          <div class="detail-text">March, 2020 (7 days)</div>
                          <h4 class="detail-label">Visit</h4> 
                          <div class="detail-text">
                            <span class="detail-link"><a href="https://feratata.itch.io/eliptica" rel="noopener noreferrer" target="_blank">Itch.io page</a></span> 
                            <span class="detail-link"><a href="https://github.com/Midrax/AltControlGameJam2020">Repo: AltControlGameJam2020</a></span>
                            <span class="detail-link"><a href="https://youtu.be/YXWKo01smt0">Gameplay Video</a></span>
                          </div>
                          <br>
                          <div class = "row" style="text-align: center;">
                            <div class="col-sm-4"><img src="img/logos/csharp.png" alt="" style="height: 50px"></div>
                            <div class="col-sm-4"> <img src="img/logos/unity.png" alt="" style="height: 50px"></div>
                            <div class="col-sm-4"><img src="img/logos/arduino.png" alt="" style="height: 50px"></div>
                          </div>
                        </div>
                        
                        <!-- Text End-->
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>


            <div class="col-lg-3 col-sm-6">
                <button data-toggle="modal" data-target="#modalPortfolio2" class="portfolio-box" style="border-width: 0;padding: 0;">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Gamejam Project
                            </div>
                            <div class="project-name">
                                Sparky and Smith: Under Repair
                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalPortfolio2" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle2" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="modalLongTitle2">Sparky and Smith: Under Repair</h3>
                    </div>
                    <div class="modal-body">

                        <!-- Carousel -->
                        <div id="carousel2" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel2" data-slide-to="1"></li>
                              <li data-target="#carousel2" data-slide-to="2"></li>
                            </ol>
                          
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="img/portfolio/under_repair/01.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/under_repair/02.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/under_repair/03.jpg" alt="">
                              </div>
                            </div>
                          
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#carousel2" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel2" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        
                          <!-- Text -->
                          <div class="modal-detail">
                            <h4 class="detail-label">Roles</h4>
                            <div class="detail-text">Developer, AirConsole/Controls Specialist with 2 Artists, 3 Developers</div>
                            <h4 class="detail-label">Project Description</h4>
                            <div class="detail-text">
                              A co-op arcade-puzzle game designed for the Air Console platform, with no written language. 
                              Players need to control 2 different robots by constructing items. 
                              The game is played via AirConsole using any smartphone as a controller, 
                              and is itself accessible through any web browser.
                            </div>
                            <h4 class="detail-label">Project Date</h4>
                            <div class="detail-text">February, 2020 (3 days)</div>
                            <h4 class="detail-label">Visit</h4> 
                            <div class="detail-text">
                              <span class="detail-link"><a href="https://globalgamejam.org/2020/games/sparky-smith-under-repair-2" rel="noopener noreferrer" target="_blank">GGJ2020</a></span> 
                              <span class="detail-link"><a href="https://github.com/Midrax/GGJ2020">Repo: GlobalGameJam2020</a></span>
                              <span class="detail-link"><a href="https://youtu.be/pH1VKNyieoU">Gameplay Video</a></span>
                            </div>
                            <br>
                            <div class = "row" style="text-align: center;">
                              <div class="col-sm-4"><img src="img/logos/csharp.png" alt="" style="height: 50px"></div>
                              <div class="col-sm-4"> <img src="img/logos/unity.png" alt="" style="height: 50px"></div>
                              <div class="col-sm-4"><img src="img/logos/airconsole.png" alt="" style="height: 50px"></div>
                            </div>
                          </div>
                          <!-- Text End-->
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <button data-toggle="modal" data-target="#modalPortfolio3" class="portfolio-box" style="border-width: 0;padding: 0;">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Gamejam Project
                            </div>
                            <div class="project-name">
                                Garden of Memories
                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalPortfolio3" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle3" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="modalLongTitle3">Garden of Memories</h3>
                    </div>
                    <div class="modal-body">

                        <!-- Carousel -->
                        <div id="carousel3" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel3" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel3" data-slide-to="1"></li>
                              <li data-target="#carousel3" data-slide-to="2"></li>
                            </ol>
                          
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="img/portfolio/memories/01.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/memories/02.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/memories/03.jpg" alt="">
                              </div>
                            </div>
                          
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#carousel3" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel3" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <button data-toggle="modal" data-target="#modalPortfolio4" class="portfolio-box" style="border-width: 0;padding: 0;">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Academic Project
                            </div>
                            <div class="project-name">
                                Onirico
                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalPortfolio4" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle4" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="modalLongTitle4">Onirico</h3>
                    </div>
                    <div class="modal-body">

                        <!-- Carousel -->
                        <div id="carousel4" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel4" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel4" data-slide-to="1"></li>
                              <li data-target="#carousel4" data-slide-to="2"></li>
                            </ol>
                          
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="img/portfolio/onirico/01.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/onirico/02.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/onirico/03.jpg" alt="">
                              </div>
                            </div>
                          
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#carousel4" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel4" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <button data-toggle="modal" data-target="#modalPortfolio5" class="portfolio-box" style="border-width: 0;padding: 0;">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Gamejam Project
                            </div>
                            <div class="project-name">
                                Revolution
                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalPortfolio5" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle5" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="modalLongTitle5">Revolution</h3>
                    </div>
                    <div class="modal-body">

                        <!-- Carousel -->
                        <div id="carousel5" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel5" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel5" data-slide-to="1"></li>
                              <li data-target="#carousel5" data-slide-to="2"></li>
                            </ol>
                          
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="img/portfolio/revolution/01.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/revolution/02.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/revolution/03.jpg" alt="">
                              </div>
                            </div>
                          
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#carousel5" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel5" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <button data-toggle="modal" data-target="#modalPortfolio6" class="portfolio-box" style="border-width: 0;padding: 0;">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Academic Project
                            </div>
                            <div class="project-name">
                                Procedural Scene
                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalPortfolio6" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle6" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="modalLongTitle6">Procedural Scene</h3>
                    </div>
                    <div class="modal-body">

                        <!-- Carousel -->
                        <div id="carousel6" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel6" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel6" data-slide-to="1"></li>
                              <li data-target="#carousel6" data-slide-to="2"></li>
                            </ol>
                          
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="img/portfolio/proc_scene/01.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/proc_scene/02.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/proc_scene/03.jpg" alt="">
                              </div>
                            </div>
                          
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#carousel6" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel6" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <button data-toggle="modal" data-target="#modalPortfolio7" class="portfolio-box" style="border-width: 0;padding: 0;">
                    <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Academic Project
                            </div>
                            <div class="project-name">
                                SFML Hockey
                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalPortfolio7" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle7" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="modalLongTitle7">SFML Hockey</h3>
                    </div>
                    <div class="modal-body">

                        <!-- Carousel -->
                        <div id="carousel7" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel7" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel7" data-slide-to="1"></li>
                              <li data-target="#carousel7" data-slide-to="2"></li>
                            </ol>
                          
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="img/portfolio/sfml_hockey/01.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/sfml_hockey/02.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/sfml_hockey/03.jpg" alt="">
                              </div>
                            </div>
                          
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#carousel7" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel7" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <button data-toggle="modal" data-target="#modalPortfolio8" class="portfolio-box" style="border-width: 0;padding: 0;">
                    <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              Academic Project
                            </div>
                            <div class="project-name">
                              Roll-A-Ball-AI
                            </div>
                        </div>
                    </div>
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalPortfolio8" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle8" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h3 class="modal-title" id="modalLongTitle8">Roll-A-Ball AI</h3>
                    </div>
                    <div class="modal-body">

                        <!-- Carousel -->
                        <div id="carousel8" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel8" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel8" data-slide-to="1"></li>
                              <li data-target="#carousel8" data-slide-to="2"></li>
                            </ol>
                          
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="img/portfolio/ball_ai/01.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/ball_ai/01.jpg" alt="">
                              </div>
                          
                              <div class="item">
                                <img src="img/portfolio/ball_ai/01.jpg" alt="">
                              </div>
                            </div>
                          
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#carousel8" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel8" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6">
              <button data-toggle="modal" data-target="#modalPortfolio9" class="portfolio-box" style="border-width: 0;padding: 0;">
                  <img src="img/portfolio/9.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                            MSc Thesis Project
                          </div>
                          <div class="project-name">
                            Minecraft GAN
                          </div>
                      </div>
                  </div>
              </button>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="modalPortfolio9" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle9" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                  <h3 class="modal-title" id="modalLongTitle9">Minecraft GAN</h3>
                  </div>
                  <div class="modal-body">

                      <!-- Carousel -->
                      <div id="carousel9" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#carousel9" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel9" data-slide-to="1"></li>
                            <li data-target="#carousel9" data-slide-to="2"></li>
                          </ol>
                        
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                            <div class="item active">
                              <img src="img/portfolio/msc/01.jpg" alt="">
                            </div>
                        
                            <div class="item">
                              <img src="img/portfolio/msc/02.jpg" alt="">
                            </div>
                        
                            <div class="item">
                              <img src="img/portfolio/msc/03.jpg" alt="">
                            </div>
                          </div>
                        
                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#carousel9" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#carousel9" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      ...
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
              </div>
          </div>

          <div class="col-lg-6 col-sm-6">
            <button data-toggle="modal" data-target="#modalPortfolio10" class="portfolio-box" style="border-width: 0;padding: 0;">
                <img src="img/portfolio/10.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          BSc Thesis Project
                        </div>
                        <div class="project-name">
                          Quiz Battle Editor
                        </div>
                    </div>
                </div>
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalPortfolio8" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle8" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title" id="modalLongTitle8">Quiz Battle Editor</h3>
                </div>
                <div class="modal-body">

                    <!-- Carousel -->
                    <div id="carousel10" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel10" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel10" data-slide-to="1"></li>
                          <li data-target="#carousel10" data-slide-to="2"></li>
                        </ol>
                      
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="img/portfolio/bsc/01.jpg" alt="">
                          </div>
                      
                          <div class="item">
                            <img src="img/portfolio/bsc/02.jpg" alt="">
                          </div>
                      
                          <div class="item">
                            <img src="img/portfolio/bsc/03.jpg" alt="">
                          </div>
                        </div>
                      
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#carousel10" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel10" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                    ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
