<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>

<!-- Custom Scripts-->
<script>
    document.getElementsByClassName("showPortfolio").addEventListener("click", showPortfolio);
    document.getElementById("showCV").addEventListener("click", showCV);
    document.getElementById("showBlog").addEventListener("click", showBlog);

    function showPortfolio() {
        for (var i = 0; i < document.getElementsByName("portfolio").length; i++) 
        {
            document.getElementsByName("portfolio")[i].style.display = "block";     
        }
        document.getElementById("blog").style.display = "none";   
        document.getElementById("cv").style.display = "none";   
    }

    function showBlog() {
        document.getElementById("blog").style.display = "block";     
        for (var i = 0; i < document.getElementsByName("portfolio").length; i++) 
        {
            document.getElementsByName("portfolio")[i].style.display = "none";   
        }
        document.getElementById("cv").style.display = "none";   
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

    function showCV() {
        document.getElementById("cv").style.display = "block";     
        document.getElementById("blog").style.display = "none";     
        for (var i = 0; i < document.getElementsByName("portfolio").length; i++) 
        {
            document.getElementsByName("portfolio")[i].style.display = "none";   
        }
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>