<section id="skills" name="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fas fa-terminal wow bounceIn text-primary"></i>
                    <h3>Programming</h3>
                    <p class="text-muted">I'm quite proficient with the most important languages, such as C++, C# and Java, but I'm good with Python and Scala as well. 
                        I'm also quite familiar with most programming paradigms and patterns. 
                        Last but not least, I've also worked with web frameworks, such as Angular and Ionic.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fas fa-gamepad wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Game Engines</h3>
                    <p class="text-muted">I've got experience in developing games using the most well known 3D engines, in particular Unity and Unreal Engine.
                        I've also built basic game engines through pure DirectX and SFML.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-puzzle-piece wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Problem Solving</h3>
                    <p class="text-muted">I love finding solutions to tough problems. 
                        Whether the problem is real or virtual, I love overcoming challenges for fun.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Creativity</h3>
                    <p class="text-muted">In my spare time, I enjoy reading and writing novels and short stories. 
                        I've honed such skills through a dedicated passion for popular culture and entertainment. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
