<section class="bg-dark" id="whoami" name="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">> Who am I?</h2>
                <hr class="light">
                <p class="text-faded">
                    Deep ontological question, but let's go with the short answer: my name's Ridam Rahman. 
                    I'm your friendly neighbourhood game programmer, with a dark past as a web developer.
                </p>
                <p class="text-faded">    
                    Here's some bunch of stuff I've made. 
                </p>
            </div>
        </div>
    </div>
</section>
