<section class="bg-dark" id="whoami" name="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">> Who am I?</h2>
                <hr class="light">
                <p class="text-faded">
                    Deep ontological question, but let's go with the short answer: my name's Ridam Rahman. 
                    I'm your friendly neighbourhood game programmer, with a dark past as a web developer.
                    Outside of coding my interests include musical theatre (I have been part of the ensemble cast in 
                    a stage production of The Beauty and the Beast), DJ-ing, writing novels, playing the piano,
                    and D&D. 
                </p>
                <p class="text-faded">    
                    Here's a bunch of stuff I've worked on, I hope you like it. 
                </p>
            </div>
        </div>
    </div>
</section>
