<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  <div id="portfolio">
    {% include header.html %}
    {% include whoami.html %}
    {% include portfolio.html %}
    {% include skills.html %}
    {% include achievements.html %}
    {% include contact.html %}
  </div>
  <div id="cv" hidden="true">
    {% include cv.html %}
  </div>
  <div id="blog" hidden="true">
    {% include blog.html %}
  </div>
  {% include scripts.html %}
</body>

</html>